/***Styles for the header***/
#header-title {
    margin-left: 70px;
    font-weight: bold;
    font-size: xx-large;
}

.header {
    margin-left: 280px;
}

.header .nav-link:hover {
    color: #575fcf;
}

/***Styles for the content***/
.container {
    text-align: center;
    padding-bottom: 10px;
}

.buttons {
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    padding: 30px 30px;
    align-items: center;
    justify-content: center;
}

.buttonsItems {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#buttonsReminder {
    width: 130px;
    height: 40px;
    text-align: center;
    margin-top: 15px;
}

#day, #hour, #minute, #second {
    width: 80px;
    height: 70px;
    margin: 10px;
}

.contentshop {
    background-color: black;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

.contentshop h3, .contentShopDeals h3 {
    font-family: "Dancing Script", cursive;
}

.contentshopImg {
    background-color: black;
}

.contentshopImg img {
    margin-left: 0;
}

.contentShopDeals {
    background-color: black;
    text-align: center;
    color: #ffffff;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#contentShopDealsId {
    width: 130px;
    height: 40px;
    text-align: center;
}

/***Styles for the footer***/
.footer {
    text-align: center;
    background-color: #f1f2f6;
    padding-bottom: 10px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

.footer a {
    float: left;
    width: fit-content;
}

.socialMediaImg {
    width: 20px;
}

.footerSocialMedia img:hover {
    cursor: pointer;
    width: 22px;
}